
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CarPageHome</title>
</head>
<body>
    <div> 
        <h1>Mazda 6</h1>
        <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mazda-6-signature-skyactiv-d-turbo-diesel-1555529660.jpg" height="200" width="250" alt="Mazda 6 Diesel – Mid-Size Sedan Getting AWD" />
    </div>
</body>
</html>
