
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        First Name: @ViewBag.Fname </br>
        Last Name: @ViewData["Lname"] </br>
        Phone Number: @ViewBag.PN </br>
        I.D Number: @ViewData["idN"] </br>
    </div>
</body>
</html>
