@model lab1.ViewModel.MTHViewModel
    @{
        ViewBag.Title = "EmptyCartView";
    }

    @if (@Model.user.uType != "guest")
    {
        <h3 style="text-align:center">Hey @Model.user.firstName, your cart is empty.</h3>
    }
    else
    {
        <h3 style="text-align:center">Hey guest, your cart is empty.</h3>
    }
    <h4 style="text-align:center; vertical-align:middle">In 5 seconds you will get back to movies viewer to fill it...</h4>
    <meta http-equiv="refresh" content="5;URL=http://localhost:4905/User/MoviesSort" />