@model lab1.Models.User

@{
    ViewBag.Title = "User page";
}

<h4>Welcome to User page</h4>

<div>
    First Name: @Model.firstName <br />
    Last Name: @Model.lastName <br />
    I.D: @Model.idNumber <br />
    <br />
</div>